//All common variables here

//colors
$primary-color: #37E6EB;
$green: #3BBA8A;
$black: #000000;
$purple: #9013fe;
$red: #d0021b;
$green: #417505;
$blue: #4a90e2;


//font
$primary-font-size: 15px;
$big-text: 15px;
$card-paragrah-text: 26px;

//Responsive Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
$breakpoint-desktop: 1200px;
